@charset "UTF-8";

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.end {
  justify-content: flex-end;
}
.start {
  justify-content: flex-start;
}
.view-size-m {
  width: 800px;
  margin: 0 auto;
}

li {
  list-style: none;
}